
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /*direction: rtl;*/


    /*background-color: #fffbf6;*/
    /*border: 1px solid red;*/
}



body {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
    background-color: #fffbf6;
    font-family: 'Changa', sans-serif;
}

.header {
    background-color: #f4f1eb;
}

.main {
    background-color: #f4f1eb;
}

.costume-nav{
    background-color: #f4f1eb;
    margin-bottom: 0;
    font-family: 'Changa', sans-serif;
        /*float: left !important;*/
}




.nav-costume-btn {
    background-color: #f4f1eb;
}

.icon-bar2{
    background-color: #000;
}


.main-description{
    position: absolute;
    z-index: 100;
    left: 50%;
    right: 50%;
    width: 200px;

    /*display: block;*/

}

.desription{
        position: relative;
    float: left;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}

.steps {
    background-color: #3d3d3f;
    height: 400px;
    margin-right: 1px;
    margin-left: 1px;
    padding: 20px;
}

.main-img{
    padding-left: 0;
    padding-right: 0;
}


.browse-title {
     background-color: #f4f1eb;
     height: 80px;
     padding: 20px;
     font-size: 2em;
}

.category-block {

background-color: #f4f1eb;
     height: 250px;
padding-left: 120px;
     /*margin:auto;*/


}

.category:hover {
     background-color: #4d835c;

     /*margin:auto;*/

}

.category {

    list-style: none;
    height: 160px;
     background-color: #77ce90;
     margin-right: 10%;
     width: 150px;
     margin-bottom: 20px;

     padding: 10px;
     font-size: 1em;
      display:inline-block;
      text-align: center;

}

.cat-img {
    padding-bottom: 10px;
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    height: 30px;
    background-color: #3d3d3f;
    text-align: center;
vertical-align: middle;
color: #fff;
margin: 0;
}

.problem-card{
    width: 100%;
    height: 100px;
    /*position: relative;*/
    background-color: #fff;
    /*float: right;*/
    -webkit-box-shadow: 2px 2px 16px 0px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    2px 2px 16px 0px rgba(50, 50, 50, 0.45);
box-shadow:         2px 2px 16px 0px rgba(50, 50, 50, 0.45);
background-color: #fffbf6;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
/*margin:10px;*/
/*margin-left: 20px;*/
margin-top: 15px;
margin-bottom: 15px;
}

.problems{
    height: 100%;
    background-color: #f4f1eb;
    padding: 20px;
    margin: 


}

.filter{
    background-color: #f4f1eb;

    height: 100px;
    /*width: 100%;*/

}


.reward{
    float: right;
    /*margin-top: -15px;*/
    bottom: 10px;
    position: absolute;
    right:10px;

}

.p1 {
    padding-top: 1px;
}

.p2 {
    padding-top: 1px;
}


.btn-solve{
position: absolute;
bottom: 10px;
left:10px;

}

/*
.problem-nav{
    height: 100%;
    width: 40;
    margin: 20px;
    background-color: #fff;
    float: left;
    position: relative;
    z-index: 500;

}*/

@media screen and (max-width: 499px) {
.category-block {

     height: 800px;
     /*margin:auto;*/


}

.problem-card{
    height: 140px;
}
}
@media screen and (min-width: 500px) and (max-width: 1199px) {
.category-block {

     height: 400px;
}
}



/********************BOOTSTAP TIMELINE**********************/

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fffbf6;
  color: white;
  border-radius: 100%;
  border: 3px solid #f4f1eb;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: #f4f1eb;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
  font-size: 28px;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 20px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 20px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 0px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 20px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 0px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
    font-size: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 0px 20px;
  }
}

