
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body {
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}


 /*breakpoint 1*/
@media screen and (max-width: 499px) {

}
 /*breakpoint 2*/
@media screen and (min-width: 500px) and (max-width: 995px) {

}